{% extends "base.html" %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeM-Mitra</title>
    <link rel="stylesheet" href={% static "css/style.css" % }>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <style>
    .nav-link{
      color: aliceblue;
    }
  
   </style>

</head> {% endcomment %}
{% block body %}
<body >
  <section class="help-section" style="text-align: center; margin: 3.5rem;">
    <h1 style="margin-bottom: 2rem; font-weight: 600;">How to Use ??</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio provident molestiae adipisci cupiditate inventore necessitatibus tempora modi laudantium mollitia tenetur temporibus minus sapiente nisi, quaerat harum consequuntur eveniet quis totam esse, quos odio magni? Quibusdam atque ut beatae ad perferendis ullam eligendi assumenda ex, officiis vitae veritatis placeat at iste doloribus consequatur similique repellendus omnis non facere aut neque quis illum. Iste, ex laudantium neque quasi atque quibusdam eos veritatis cum. Cupiditate, aut quisquam. Beatae recusandae inventore, suscipit impedit culpa sed possimus omnis, autem alias molestias voluptatum. Dolorem, magnam dicta nulla, itaque libero, nemo amet sunt hic enim repellendus iure!</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea voluptatibus fuga non dicta, tenetur omnis maiores? Neque asperiores harum ratione recusandae vero perferendis tenetur eaque doloribus adipisci nisi est animi molestiae, mollitia eligendi, voluptatem provident enim expedita, maxime repellat commodi nihil aut. Corrupti repudiandae corporis perspiciatis facere, expedita exercitationem eveniet veritatis. Eos, officiis distinctio magnam esse, architecto quidem maiores rerum ut quisquam maxime nesciunt ex. Et vero temporibus porro voluptatem.</p>
    <ol style="text-align: left; margin: 2rem 8rem 6rem 8rem; font-weight: 600; display: flex; flex-direction: column; gap: 2rem;">
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur vitae nobis iste sint. Aliquam, aliquid incidunt illo sint, minima voluptatum fugit possimus eveniet, error consequatur ex. Libero a, nisi amet eaque unde repellendus, cupiditate aliquam, totam iusto officia doloremque distinctio!</li>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur vitae nobis iste sint. Aliquam, aliquid incidunt illo sint, minima voluptatum fugit possimus eveniet, error consequatur ex. Libero a, nisi amet eaque unde repellendus, cupiditate aliquam, totam iusto officia doloremque distinctio!</li>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur vitae nobis iste sint. Aliquam, aliquid incidunt illo sint, minima voluptatum fugit possimus eveniet, error consequatur ex. Libero a, nisi amet eaque unde repellendus, cupiditate aliquam, totam iusto officia doloremque distinctio!</li>
    </ol>
  </section>
</body>
{% endblock body %}